<!-- views/index.ejs -->
<!doctype html>
<html>
  <head>
    <title>Project Metal</title>
    <link rel="stylesheet" href="/public/css/bootstrap.css"> <!-- load css/bootstrap.css -->
    <link rel="stylesheet" href="/public/css/fontawesome.css"> <!-- load fontawesome -->
    <style>
      body        { padding-top:80px; }
    </style>
  </head>
  <body>
    <div class="container">

      <div class="jumbotron text-center">
        <h1><span class="fa fa-plane"></span> Project Metal</h1>

        <h4><i>a fast and simple way to track your air travel</i></h4>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Register</a>
      </div>
    </div>
  </body>
</html>
