<!-- views/profile.ejs -->
<!doctype html>
<html>
  <head>
    <title>Your Profile</title>
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/fontawesome.css">
    <style>
      body        { padding-top:40px; word-wrap:break-word; }
    </style>
  </head>
  <body>
    <div class="container">

      <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/add-flight" class="btn btn-default btn-sm">Add Flight</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      </div>

      <div class="row">

        <div class="col-sm-6">
          <div class="well">
            <h3><span class="fa fa-user"></span> Local</h3>

            <p>
              <strong>id</strong>: <%= user._id %><br>
              <strong>email</strong>: <%= user.local.email %><br>
              <strong>password</strong>: <%= user.local.password %>
            </p>

          </div>
        </div>

      </div>

    </div>
  </body>
</html>
